.container{
    border: 5px solid green;
}
.box1{
    min-height: 300px;
    background-color: aqua;
}

.box2{
    min-height: 300px;
    background-color: blueviolet;
}
.box3{
    min-height: 300px;
    background-color: black;
}
